VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=bm-quest.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bm-quest
VITE_FIREBASE_STORAGE_BUCKET=bm-quest.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=594470997521
VITE_FIREBASE_APP_ID=1:594470997521:web:163dcfa005c0057ab46bb0
